.App {
  text-align: center;
}
.navbar{
  background-color:  #0a0726;
}
.navbar-brand{
  /* padding-right: 0px; */
  margin-left: 80px;
}
.navbar-nav {
  margin-left: 150px;
}
.nav-link{
  font-size: 16px;
}
Nav.Link:hover{
  color: #ed4855;
}

.nav-button{
  margin-right: 20px;
}
/* header */
.header-wraper {
  position: relative;
  background-image: url(../src/images/img1.jpeg) ;
  background-size: cover;
  background-position: center;
  height:90vh;
}
.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}
.main-info h1{
 color: white;
 /* text-transform: uppercase; */
 font-size: 70px;
 margin-top: 200px; 
}
h1 span {
  color: #ed4855;
}

/* typed text */
.typed-text{
  font-size: 3rem;
  color: whitesmoke;
  /* padding-bottom: 20px; */
  margin-bottom: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
}
.my-btn{
  margin-top: 30px;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;

}
